@import "portfolio";
$sonicSilver: #747877;
$grullo: #a7947d;
$tan: #d0b28a;
$morningBlue: #94a09e;
$charcoal: #334149;

* {
  padding: 0%;
  margin: 0%;
}
body {
  background: #e9ecf4;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}
h1 {
  font-family: "Abril Fatface", serif;
  font-size: 3.5em;
  padding: 1rem;
}
h2 {
  font-family: "Abril Fatface", serif;
  font-size: 2.5em;
}
h3 {
  font-family: "Abril Fatface", serif;
  font-size: 1.5em;
}
header {
  background-image: linear-gradient(147deg, $morningBlue 0%, $charcoal 74%);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  z-index: 999;
}
footer {
  background-image: linear-gradient(147deg, $morningBlue 0%, $charcoal 74%);
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
p {
  margin: 0;
  padding: 0.5rem;
}
footer > p {
  size: 80%;
}
.logoPie {
  size: 20%;
  padding: 1rem;
}
.socialPie {
  padding: 0.4rem;
  margin: 0.4rem;
}
.datosContacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 0.7rem;
  background-color: $sonicSilver;
  padding: 0.5rem;
  padding-right: 5rem;
  flex-wrap: wrap;
}
.cajaDatos {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.container {
  padding-left: 0%;
  padding-right: 0%;
}

.hero-container {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero {
  background: url("../media/pumHero.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 40px;
  transition: transform 2s;
}

.hero:hover {
  transform: scale(1.15);
}

.hero-stuff {
  position: absolute;
  top: 40px;
  left: 40px;
}
svg:hover {
  color: red;
}
.photo-gallery {
  color: #313437;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.contenedor__contacto {
  background-color: $morningBlue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col-lg-6 {
  color: #fff;
  padding: 1rem;
}
.icon__contact {
  width: 19px;
  height: 19px;
}
.icon__footer {
  width: 25px;
  height: 25px;
}
.contenedor__home {
  background-color: $morningBlue;
}
.contenedor__home2 {
  background-color: $sonicSilver;
  padding: 3rem;
}
.contenedor__home3 {
  background-color: #e0d3a7;
  color: $charcoal;
  padding: 2rem;
}
.h1__mascotas {
  font-size: 6rem;
}
.contenedor__mascotas {
  background-color: #e0d3a7;
  color: $charcoal;
  padding: 2rem;
}
.container__servicios {
  background-color: $morningBlue;
}
.h1__servicios {
  color: #fff;
  padding: 2rem;
}
.container__sercicios1 {
  padding: 2rem;
}
.card__servicios {
  width: 25rem;
}
.h3__mascotas {
  color: $charcoal;
}
.p__mascotas {
  color: #334149;
}
